#include <iostream>
#include <fstream>

%Code%

signed main() {
	%ClassName% solver;
	%Input%
	%Output%

    in.tie(0);
    ios::sync_with_stdio(0);
    out<<fixed<<setprecision(20);

    %SolverCall%
	return 0;
}
